/****** Script for SelectTopNRows command from SSMS  ******/
USE 广东--分两次运行，第一次生成表流量系数总表1。
/*select sum(日流量GB)/count(*) from [广东].[dbo].[总表]*/
 /*select AVG(日流量GB) from [广东].[dbo].[总表]*/
SELECT [省份]
      ,[地市]
      ,[小区ID]
      ,[小区名称]
      ,[网格]
      ,[路测网格]
      ,[基站ID]
      ,[基站名称]
      ,[主设备厂家]
      ,[室内外基站属性]
      ,[区域类型]
      ,[覆盖场景]
      ,[频段]
      ,[载频个数]
      ,[载波带宽(MHZ)]
      ,[经度]
      ,[纬度]
      ,[方位角]
      ,[是否属于五期扩容工程]
      ,[是否多层网小区]
      ,[基础频点小区]
      ,[对应的基础频点小区ID]
      ,[有效RRC连接平均数]
      ,[有效RRC连接最大数]
      ,[RRC连接平均数]
      ,[RRC连接最大数]
      ,[下行PDSCH PRB占用平均数]
      ,[下行PDSCH PRB可用平均数]
      ,[上行PDSCH PRB占用平均数]
      ,[上行PDSCH PRB可用平均数]
      ,[PDCCH信道CCE可用个数]
      ,[PDCCH信道CCE占用个数]
      ,[下行PRB平均利用率(v2 6)]
      ,[上行PRB平均利用率(v2 6)]
      ,[下行PDSCH PRB占用数]
      ,[下行PDSCH PRB可用数]
      ,[上行PDSCH PRB占用数]
      ,[上行PDSCH PRB可用数]
      ,[下行PRB平均利用率(v2 8)]
      ,[上行PRB平均利用率(v2 8)]
      ,[PDCCH信道CCE占用率]
      ,[下行业务信道流量(MB)]
      ,[上行业务信道流量(MB)]
      ,[下行用户平均速率]
      ,[上行用户平均速率]
      ,[平均E-RAB数]
      ,[E-RAB建立成功数]
      ,[VOLTE语音话务量]
      ,[VOLTE语音峰值用户数]
      ,[下行VOLTE占用PRB总数]
      ,[上行VOLTE占用PRB总数]
      ,[分QCI的建立成功次数(QCI5)]
      ,[小区用户面上行字节数（QCI5）]
      ,[小区用户面下行字节数（QCI5）]
      ,[无线接通率]
      ,[E-RAB拥塞率(无线资源不足)]
      ,[上行日流量(MB)]
      ,[下行日流量(MB)]
      ,[设备型号(仅室外微站填写)]
      ,[通道最大发射功率(W)]
      ,[无线掉线率]
      ,[无线掉线率(剔除UI)]
      ,[E-RAB掉线率]
      ,[E-RAB建立成功率]
      ,[切换成功率]
      ,[天线挂高]
      ,[CQI平均值]
      ,[日流量GB]
      ,[最大利用率]
	  ,[日流量GB]/19.605099 as 流量系数
 into 流量系数总表1 FROM [广东].[dbo].[总表]

/* select 小区ID from [广东].[dbo].[流量系数总表] where 流量系数=0 is NULL*/
select [省份]
      ,[地市]
      ,[小区ID]
      ,[小区名称]
      ,[网格]
      ,[路测网格]
      ,[基站ID]
      ,[基站名称]
      ,[主设备厂家]
      ,[室内外基站属性]
      ,[区域类型]
      ,[覆盖场景]
      ,[频段]
      ,[载频个数]
      ,[载波带宽(MHZ)]
      ,[经度]
      ,[纬度]
      ,[方位角]
      ,[是否属于五期扩容工程]
      ,[是否多层网小区]
      ,[基础频点小区]
      ,[对应的基础频点小区ID]
      ,[有效RRC连接平均数]
      ,[有效RRC连接最大数]
      ,[RRC连接平均数]
      ,[RRC连接最大数]
      ,[下行PDSCH PRB占用平均数]
      ,[下行PDSCH PRB可用平均数]
      ,[上行PDSCH PRB占用平均数]
      ,[上行PDSCH PRB可用平均数]
      ,[PDCCH信道CCE可用个数]
      ,[PDCCH信道CCE占用个数]
      ,[下行PRB平均利用率(v2 6)]
      ,[上行PRB平均利用率(v2 6)]
      ,[下行PDSCH PRB占用数]
      ,[下行PDSCH PRB可用数]
      ,[上行PDSCH PRB占用数]
      ,[上行PDSCH PRB可用数]
      ,[下行PRB平均利用率(v2 8)]
      ,[上行PRB平均利用率(v2 8)]
      ,[PDCCH信道CCE占用率]
      ,[下行业务信道流量(MB)]
      ,[上行业务信道流量(MB)]
      ,[下行用户平均速率]
      ,[上行用户平均速率]
      ,[平均E-RAB数]
      ,[E-RAB建立成功数]
      ,[VOLTE语音话务量]
      ,[VOLTE语音峰值用户数]
      ,[下行VOLTE占用PRB总数]
      ,[上行VOLTE占用PRB总数]
      ,[分QCI的建立成功次数(QCI5)]
      ,[小区用户面上行字节数（QCI5）]
      ,[小区用户面下行字节数（QCI5）]
      ,[无线接通率]
      ,[E-RAB拥塞率(无线资源不足)]
      ,[上行日流量(MB)]
      ,[下行日流量(MB)]
      ,[设备型号(仅室外微站填写)]
      ,[通道最大发射功率(W)]
      ,[无线掉线率]
      ,[无线掉线率(剔除UI)]
      ,[E-RAB掉线率]
      ,[E-RAB建立成功率]
      ,[切换成功率]
      ,[天线挂高]
      ,[CQI平均值]
      ,[日流量GB]
      ,[最大利用率]
	  ,[日流量GB]/19.605099 as 流量系数
	  ,TEMP.是否高负荷待扩容小区
into 流量系数总表 from 
(SELECT  [小区ID] as 是否高负荷待扩容小区 FROM [容量].[dbo].[长期高负荷小区]) AS TEMP right join
[广东].dbo.流量系数总表1 ON [广东].dbo.流量系数总表1.小区ID=TEMP.[是否高负荷待扩容小区]  


	
	update[广东].dbo.流量系数总表 set [是否高负荷待扩容小区] =1 where [是否高负荷待扩容小区] is NOT NULL
	update[广东].dbo.流量系数总表 set [是否高负荷待扩容小区] =0 where [是否高负荷待扩容小区] is NULL