/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [地市]
      ,[小区中文名]
      ,[CGI]
      ,[场景]
      ,[景区名称]
  FROM [广东].[dbo].[重要场景清单]

  select *
  from
  (select)
  