/****** Script for SelectTopNRows command from SSMS  ******/
USE [广东]
SELECT [开始时间]
      ,[日期]
      ,[年]
      ,[月]
      ,[日]
      ,[地市]
      ,[厂家]
      ,[小区名]
      ,[CGI]
      ,[覆盖类型]
      ,[覆盖场景]
      ,[经度]
      ,[纬度]
      ,[eNodeB名]
      ,[ENBID]
      ,[小区标识符]
      ,[是否关联状态库]
      ,[(移动)小于-120dBm的采样点数]
      ,[(移动)大于等于-120dBm小于-118dBm的采样点数]
      ,[(移动)大于等于-118dBm小于-115dBm的采样点数]
      ,[(移动)大于等于-115dBm小于-113dBm的采样点数]
      ,[(移动)大于等于-113dBm小于-110dBm的采样点数]
      ,[(移动)大于等于-110dBm小于-105dBm的采样点数]
      ,[(移动)大于等于-105dBm小于-100dBm的采样点数]
      ,[(移动)大于等于-100dBm小于-95dBm的采样点数]
      ,[(移动)大于等于-95dBm小于-90dBm的采样点数]
      ,[(移动)大于等于-90dBm小于-85dBm的采样点数]
      ,[(移动)大于等于-85dBm小于-80dBm的采样点数]
      ,[(移动)大于等于-80dBm的采样点数]
      ,[(移动)rsrp电平值(原始采样点rsrp值求和)]
      ,[(移动)总采样点数]
      ,[(移动)电平(dBm)(rsrp_sum rsrp_count)]
      ,[(移动)弱覆盖采样点数量(小于-110)]
      ,[(移动)弱覆盖采样点数量(小于-113)]
      ,[(移动)弱覆盖采样点数量(小于-115)]
	  ,(1-[(移动)弱覆盖采样点数量(小于-110)]/[(移动)总采样点数] ) as MR覆盖率

 into 全省覆盖率0706 FROM [广东].[dbo].[yy_mro_rsrp_day_20180706] where [(移动)总采样点数]>0

 update [广东].[dbo].[全省覆盖率0706] set 开始时间='2018-07-16' where 开始时间='2018-07-06'
